:root {
  --FontWeightExtraLight-200: 200;
  --FontWeightLight: 300;
  --FontWeightRegular: 400;
  --FontWeightMedium: 500;
  --FontWeightSemiBold: 600;
  --FontWeightBold: 700;
  --FontWeightExtraBold: 800;
  --PrimaryColor: #CC0000;
  --SecondaryColor: #1D1D1D;
  --GreenColor: #A6E90B;
  --WhiteColor: #fff;
}

html {
  font-size: 0.833vw;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media screen and (max-width:1699px) {
    font-size: 1vw;
  }

  @media screen and (max-width:1199px) {
    font-size: 14px;
  }
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--SecondaryColor);
  font-size: 1rem;
  font-weight: var(--FontWeightRegular);
}

.container {
  width: 90.8%;
  max-width: 96%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

a,
button {
  cursor: pointer;
}

a {
  transition: all linear .3s;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: var(--FontWeightRegular);
  margin-top: 1rem;

  &:first-of-type {
    margin-top: 0;
  }
}

.common-btn {
  padding: 1rem 1.625rem;
  background-color: var(--WhiteColor);
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightSemiBold);
  font-size: 1rem;
  line-height: 1;
  &.full{
    width: 100%;
  }
  &.red {
    background-color: var(--PrimaryColor);
    color: var(--WhiteColor);
  }
  &.grey{
    background-color: var(--SecondaryColor);
    color: var(--WhiteColor);
  }
}

.common-spacing-py {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.common-spacing-pt {
  padding-top: 3.75rem;
}

.common-spacing-pb {
  padding-bottom: 3.75rem;
}

.font-size-28 {
  font-size: 1.75rem;
}

.font-size-24 {
  font-size: 1.5rem;
}

.font-size-18 {
  font-size: 1.125rem;
}

.font-size-14 {
  font-size: 0.875rem;
}

.fontweightextralight {
  font-weight: 200;
}

.fontweightlight {
  font-weight: 300;
}

.fontweightregular {
  font-weight: 400;
}

.fontweightmedium {
  font-weight: 500;
}

.fontweightsemibold {
  font-weight: 600;
}

.fontweightbold {
  font-weight: 700;
}

.fontweightextrabold {
  font-weight: 800;
}

.red-text {
  color: var(--PrimaryColor);
}

.dark-text {
  color: var(--SecondaryColor);
}

.white-text {
  color: var(--WhiteColor);
}

.heading-sec {
  font-weight: var(--FontWeightBold);

  .title {
    font-size: 2.5rem;
    line-height: 1.2;

    span {
      font-weight: var(--FontWeightLight);
    }
  }
}

.headingtitle {
  font-size: 3.125rem;
  line-height: 1.1;
  font-weight: var(--FontWeightBold);
}

.circle-btn {
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--PrimaryColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 1.1rem !important;
    filter: brightness(0) invert(1);
  }
}

.header {
  position: relative;
  top: 0;
  left: 0;
  transition: all linear .3s;
  &.sticky{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--WhiteColor);
    width: 100%;
    box-shadow: 0 0 .8rem rgba(0,0,0,.2);
    z-index: 9999;
  }

  &:after {
    position: absolute;
    content: "";
    width: 10%;
    height: 100%;
    background-color: var(--PrimaryColor);
    right: 0;
    top: 0;
    z-index: -1;
  }

  .logo {
    img {
      width: 8.55rem;
    }
  }

  .menu-sec {
    column-gap: 1.875rem;

    .menutoogle {
      width: 50px;
      background-color: var(--PrimaryColor);
      align-items: center;
      height: 35px;
      border-radius: 5px;
      justify-content: center;

      span {
        width: 25px;
        height: 2px;
        background-color: var(--WhiteColor);
        transition: all linear .3s;
        position: relative;
      }

      &.close {
        span {
          transform: rotate(-45deg);
          top: 2px;

          &:nth-of-type(3) {
            display: none;
          }

          &:nth-of-type(2) {
            transform: rotate(45deg);
            top: -3px;
          }
        }
      }
    }
  }

  .whats-app {
    align-self: center;
  }  
  .nav {
    li {
      background-color: var(--PrimaryColor);
      color: var(--WhiteColor);
      font-size: 1rem;
      font-weight: var(--FontWeightSemiBold);
      border-right: solid 0.0625rem rgba($color: #fff, $alpha: .5);
      transition: all linear .3s;
      display: flex;
      align-items: center;

      a {
        padding: 1.25rem;
      }

      &:last-of-type {
        border-right: none;
      }

      &:hover,
      &.active {
        background-color: var(--SecondaryColor);
      }
    }
  }

  .side-enq-btn {
    position: fixed;
    top: 40%;
    background-color: var(--GreenColor);
    padding: 1.125rem 1.625rem;
    line-height: 1;
    color: var(--SecondaryColor);
    font-weight: var(--FontWeightBold);
    z-index: 999;
    right: -4rem;
    transform: rotate(-90deg);
    transition: all linear .3s;

    &:hover {
      background-color: var(--PrimaryColor);
      color: var(--WhiteColor);
    }

  }
}
.textlinks{
    color: var(--PrimaryColor);
    font-weight: var(--FontWeightBold);
  }
.banner-sec {
  height: calc(100vh - 7.2rem);
  overflow: hidden;
  min-height: 31rem;
  img {
    height: calc(100vh - 7.2rem);
    min-height: 31rem;
    object-fit: cover;
  }
  .owl-dots {
    position: absolute;
    bottom: 1.4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;   
    z-index: 2;  
    gap: .4rem;
    .owl-dot {
      width: 1rem;
      height: 1rem;
      background: var(--WhiteColor);
      border-radius: 50%;
      &.active{
        background-color: var(--PrimaryColor);
      }
    }
  }
  .text-sec {
    position: absolute;
    left: 4.6%;
    bottom: 4rem;
    font-size: 4.375rem;
    line-height: 1.1;
    color: var(--WhiteColor);
    max-width: 38rem;

    .links {
      margin-top: 5rem;
    }
  }

  &.innerbanner {
    max-height: 25rem;
    min-height: 20rem;
    img {
      max-height: 25rem;
      min-height: 20rem;
    }

    .text-sec {
      font-size: 3.1rem;
      max-width: 66rem;
      font-weight: var(--FontWeightSemiBold);
    }
  }
}

.marquee-sec {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
  font-weight: var(--FontWeightSemiBold);
  line-height: 1;

  span {
    padding: 1rem;
    display: inline-block;
    line-height: 1;
  }
}

.about-sec {
  .left {
    width: 25.7%;
  }

  .right {
    width: calc(100% - 25.7%);
  }
}

.solutions-sec {
  .heading-sec {
    max-width: 47rem;
  }

  .solutions-items {
    .item {
      background-color: var(--PrimaryColor);

      .detail {
        padding: 1.25rem;

        .title {
          line-height: 1.3;
        }
      }
    }
  }
}

.school-application-sec {
  .outer-sec {
    padding-left: 4.6%;

    .left {
      max-width: 26.5rem;
    }

    .right {
      width: calc(100% - 29rem);

      .item {
        position: relative;
        background-color: var(--SecondaryColor);
        // .desc{
        //   display: none;
        // }
        /*img {
          opacity: .5;
        }*/

        .text-detail {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 1.5rem 1.5rem 1rem;
          background: linear-gradient(#0000000a 10%, #000 50%);
          color: var(--WhiteColor);

          .title {
            line-height: 1.2;
          }
        }
      }
    }

    &.detail-page {
      padding-left: 0;

      .left {
        width: 100%;
        max-width: 62rem;
      }

      .right {
        width: 100%;
      }
    }
  }
}

.counter,
.blogscounter {
  position: relative;
  margin-top: 1.5rem;
  max-width: fit-content;

  .count {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    font-size: .8rem;
    opacity: .8;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav {
    display: flex;
    column-gap: 5.0625rem;

    .owl-prev,
    .owl-next {
      width: 3.125rem;
      height: 3.125rem;
      background-color: var(--PrimaryColor);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        background: url('https://image.connect.canon.co.in/lib/fe3811737164047f711574/m/1/3f580872-4fad-43e7-be7a-20ccedbaaf22.png')0 0 no-repeat;
        background-size: 1.2rem;
        left: .3rem;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        filter: brightness(0) invert(1);
      }
    }

    .owl-prev {
      &:before {
        transform: rotate(-180deg);
        left: 0;
        right: .3rem
      }
    }
  }
}

.blog-sec {
  .top-sec {
    max-width: 60.5rem;
  }

  .item {
    position: relative;

    .text-detail {
      position: absolute;
      background: #000000;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.04) 6%, rgba(0, 0, 0, 1) 100%);
      bottom: 0;
      left: 0;
      padding: 1.5rem 1.5rem 1rem;
      color: var(--WhiteColor);
      width: 100%;
      .title {
        font-size: 1rem;
        font-weight: var(--FontWeightBold);
        transition: all linear .1s;
        width: calc(100% - 3.3rem);
      }

      .circle-btn {
        opacity: 0;
        transition: all linear .3s;
      }
    }

    &:hover {
      .text-detail {
        .title {
          font-size: 1.5rem;
          font-weight: var(--FontWeightMedium);
        }

        .circle-btn {
          opacity: 1;
        }
      }
    }

  }
}

.contact-sec {
  border-top: solid 0.125rem #575757;

  .logo-sec {
    img {
      width: 12rem;
    }
  }
}

.about-page-overview-sec {
  .environment-sec {
    padding: 1rem 0 2rem;
    border-bottom: solid 0.0625rem #575757;
  }
}

.school-application-conatct {
  .image-sec {
    position: relative;

    .text-detail {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 1.875rem 5rem;
      background: rgba($color: #000, $alpha: .7);
      color: var(--WhiteColor);

      .title {
        line-height: 1.1;
      }

      .desc {
        max-width: 60rem;
      }
    }
  }
}

.contact-us-page {
  .enquiry-sec {
    background-color: #F0F0F0;
    padding: 3.125rem 6.25rem;
  }

  .form-sec {
    .item {          
      width: 49%;
      &.w-full{
        width: 100%;
      }
      label {
        width: 100%;
        font-size: 1.125rem;
        font-weight: var(--FontWeightMedium);
        color: var(--SecondaryColor);
        margin-bottom: .2rem;        
      }

      input,
      select,
      textarea {
        width: 100%;
        font-size: 1.125rem;
        border: solid 0.0625rem var(--SecondaryColor);
        color: var(--SecondaryColor);
        font-weight: var(--FontWeightMedium);
        border-radius: .4rem; 
        padding: .4rem;       
        outline: none;
        &::placeholder {
          font-size: 1.125rem;
          color: var(--SecondaryColor);
          font-weight: var(--FontWeightMedium);
        }        
      }

      &.accepetence {
        border-bottom: none;
        padding-left: 0;

        input {
          width: 1.375rem;
          height: 1rem;
          background-color: var(--WhiteColor);
        }

        label {
          width: calc(100% - 1.5rem);
          opacity: 1;
        }
      }
    }
  }

  .reachus-sec {
    .left {
      width: 38.5%;

      img {
        width: 27.5rem;
      }
    }

    .right {
      width: 57.6%;

      .item {
        padding: .5rem 1rem 1rem;
        border-bottom: solid 0.0625rem var(--SecondaryColor);

        &:last-of-type {
          border-bottom: none;
        }

        .title {
          width: 22%;
        }
      }

      a:hover {
        color: var(--PrimaryColor);
      }
    }
  }
}

.solutions-offer-page {
  &.solutions-sec {
    .tabbing-sec {
      border-bottom: solid 0.0625rem var(--PrimaryColor);
      padding-bottom: .6rem;

      .common-btn {
        border: solid 0.0625rem #B1B1B1;
      }
    }

    .product-detail {
      margin-top: 2.5rem;

      .left {
        width: 44.8%;

        .title {
          font-size: 2.4rem;
          font-weight: var(--FontWeightLight);
        }

        p {
          font-size: 1.125rem;
        }

        .pointers {
          font-size: 1.25rem;

          li {
            padding: .4rem 0 .4rem 1rem;
            position: relative;

            &:before {
              position: absolute;
              content: "";
              width: .5rem;
              height: 1rem;
              background: url('https://image.connect.canon.co.in/lib/fe3811737164047f711574/m/1/1ea6c17c-451c-483c-8076-ea7207b9feba.png')0 0 no-repeat;
              left: 0;
              top: .8rem;
            }
          }
        }
      }

      .right {
        width: 51%;
        .item{
          padding: 2rem;
          border-radius: 0.3125rem;
          background-color: #ccc;
        }
        img {
          border-radius: 0.3125rem;
          max-width: 30rem;
          margin: 0 auto;
        }
      }
    }
  }

  &.features-sec {
    .features-items {
      .item {
        border-radius: 0.3125rem;
        background-color: var(--WhiteColor);
        border: solid 0.0625rem #D5D5D5;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
        overflow: hidden;

        .desc {
          padding: 1.25rem;
          display: flex;
          flex-direction: column;
          gap: .3rem;
        }
      }
    }
  }

  &.workflow-sec {
    .steps-sec {
      .item {
        padding: 1.875rem 1.25rem 0;
        border-top: solid 0.1875rem transparent;
        transition: all linear .3s;
        cursor: pointer;
        .title {
          margin-bottom: .5rem;
          transition: all linear .3s;
        }

        &:hover,&.active {
          border-color: var(--PrimaryColor);

          .title {
            color: var(--PrimaryColor);
          }
        }
      }
    }
  }

  &.configuration-sec {
    background-color: #F0F0F0;

    .item {
      border-radius: 0.3125rem;
      background-color: var(--WhiteColor);
      padding: 1.25rem;

      img {
        width: 2.875rem;
      }
    }
  }

  &.potential-sec {
    .left {
      width: 50%;
    }

    .right {
      width: 50%;
      background-color: var(--PrimaryColor);
      padding: 2.5rem;
      color: var(--WhiteColor);
    }
  }
}
.thankyou-page{
  .image{
    width: 33rem;
    max-width: 80%;
  }
}
.footer {
  .top-sec {
    .item {
      background-color: var(--PrimaryColor);
      padding: 1.875rem 3.75rem;
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
      color: var(--WhiteColor);

      &.text-sec {
        font-size: 2.5rem;
        padding-left: 13.8%;
        line-height: 1.2;
        font-weight: var(--FontWeightExtraLight-200);
      }

      &.demo-sec {
        background-color: var(--SecondaryColor);
      }

      &.expert-sec {
        background-color: var(--GreenColor);
        padding-right: 13.8%;
        color: var(--SecondaryColor);
      }

      .title {
        line-height: 1.2;
      }
    }
  }

  .bottom-sec {
    padding: 0.625rem 0;
    font-size: 0.75rem;
    text-align: right;

    a:hover {
      color: var(--PrimaryColor);
    }
  }
}