@media screen and (max-width:1699px){
    .solutions-offer-page.configuration-sec .item .title {
        min-height: 3rem;
    }
}
@media screen and (max-width:1199px) {
    .container {
        width: 96%;        
    }
    .header .nav li a {
        padding: 1rem;
    }

    .banner-sec .text-sec {
        font-size: 3rem;
        left: 2%;
        .links {
            margin-top: 2rem;
        }
    }

    .solutions-sec .heading-sec {
        max-width: 100%;
    }

    .common-spacing-py {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .common-spacing-pt {
        padding-top: 2rem;
    }

    .common-spacing-pb {
        padding-bottom: 2rem;
    }
    .heading-sec .title,.headingtitle {
        font-size: 2.2rem;        
    }

    .school-application-sec .outer-sec {
        padding-left: 2%;
    }
    .footer .top-sec .item{
        padding: 1rem;
        &.text-sec {
            font-size: 2.2rem;
            padding-left: 6%;
            line-height: 1.4;  
        }      
    }
    .banner-sec.innerbanner .text-sec {
        font-size: 2.6rem;        
    }
    .contact-us-page .enquiry-sec {        
        padding: 2.5rem;
    }
}
@media screen and (max-width:1023px){
    .header{
        position: relative;
        &:after{
            display: none;
        }
        .menu-sec{
            align-items: center;
        }
        .nav{
            display: none;
            position: absolute;
            top: 58px;
            z-index: 9999;
            right: 0;
            width: 250px;
            li{
                width: 100%;
                a{
                    display: block;
                    width: 100%;
                    border-bottom: solid 1px var(--WhiteColor);
                }
                &:last-of-type{
                    a{
                        border-bottom: none;
                    }
                }
            }            
            &.active{
                display: block;
            }
        }
        .side-enq-btn {            
            top: auto;
            // background-color: var(--SecondaryColor);
            padding: .7rem;          
            // color: var(--WhiteColor);        
            right: 0;          
            transform: rotate(0deg);        
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }
    .banner-sec{
        background-color: var(--SecondaryColor);
        img{
            opacity: .7;
        }
    }
    .footer{
        position: relative;
        background-color: #fff;
        z-index: 9999;
        .bottom-sec{
            text-align: center;
        }
    }    
    .school-application-conatct .image-sec .text-detail {
        padding: 1.5rem;
        position: static;
    }
    .solutions-offer-page.solutions-sec .product-detail{
        margin-top: 1rem;
        .left {
            width: 100%;
        }
        .right{
            width: 100%;
            margin-top: 1rem;
        }
    }
    .blog-sec .item{
        .text-detail{
            .title {
                font-size: 1.2rem!important;
                font-weight: var(--FontWeightMedium)!important;
            }
            .circle-btn{
                opacity: 1!important;
            }
        }
    }
    
}
@media screen and (max-width:767px){
    .font-size-28 {
        font-size: 1.4rem;
    }

    .font-size-24 {
        font-size: 1.3rem;
    }    
    .counter, .blogscounter {
        position: absolute;        
        bottom: -5px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .about-sec{
        .left{
            width: 100%;
        }
        .right{
            width: 100%;
            margin-top: .6rem;
        }
    }
    .school-application-sec{
        .outer-sec{
            padding: 0 2% 50px;
            position: relative;
            .left{
                width: 100%;
                max-width: 100%;
            }
            .right{
                width: 100%;
                margin-top: .6rem;
            }
        }
    }
    .blog-sec{
        .container{
            padding-bottom: 50px;
            position: relative;
        }
    }
    .footer .top-sec .item {
        padding: 1rem!important;
    }
    .contact-us-page{
        .enquiry-sec {
            padding: 1.5rem;
        }
        .form-sec .item{
           width: 100%;
        }
        .reachus-sec{
            .left{
                display: none;
            }
            .right{
                width: 100%;
                .item{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .contact-sec{
        .item {
            border-bottom: solid .0625rem var(--SecondaryColor);
            padding-bottom: 1rem;
        }
        .address-sec{
            .item:last-of-type{
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }    
    .solutions-offer-page.workflow-sec .steps-sec{
        margin-top: 1rem;
        .item {
            padding: 0;
            border-top: none!important;        
        }
    }
    .solutions-offer-page.potential-sec .right {       
        padding: 1.5rem;       
    }
    .solutions-offer-page.solutions-sec .product-detail .left .title {
        font-size: 1.6rem;        
    }
}
@media screen and (max-width:639px){
    .common-btn {
        padding: .8rem;
        font-size: .8rem;
    }
    .header{
        .logo img {
            width: 7rem;
        }
        .whats-app {
            font-size: .85rem;
        }
        .nav {
            top: 47px;
        }
    }
    
    .font-size-28 {
        font-size: 1.25rem;
    }

    .font-size-24 {
        font-size: 1.2rem;
    }
    .banner-sec .text-sec {
        font-size: 2rem;
        left: 2%;
        max-width: 80%;
    }
    .heading-sec .title,.headingtitle {
        font-size: 1.6rem;
    }
    .school-application-sec .outer-sec .right .item .text-detail {       
        padding: 1.5rem 1rem;       
    }
    .blog-sec .item .text-detail {
        padding: 1.5rem 1rem;
    }
    .contact-us-page .form-sec .item {        
        label{
            width: 100%;
            font-size: 1rem;  
            margin-bottom: .2rem;
            opacity: 1;          
        }   
        input,select,textarea{
            width: 100%;
            font-size: .9rem;
            font-weight: var(--FontWeightRegular);
            &::placeholder{
                font-size: .9rem;
                font-weight: var(--FontWeightRegular);
            }
        }    
    }
    .banner-sec.innerbanner .text-sec {
        font-size: 2rem;  
        line-height: 1.3;      
    }
    .solutions-offer-page.potential-sec{
        .left,.right {
            width: 100%;
        }
    }
}
@media screen and (max-width:479px){
    .banner-sec .text-sec {
        font-size: 1.8rem;
    }
    .banner-sec.innerbanner .text-sec {
        font-size: 1.8rem;              
    }
    .contact-us-page .reachus-sec .right .item{
        .title {
            width: 100%;
            margin-bottom: .3rem;
        }
        .desc{
            width: 100%;
        }
    }
}