:root {
  --FontWeightExtraLight-200: 200;
  --FontWeightLight: 300;
  --FontWeightRegular: 400;
  --FontWeightMedium: 500;
  --FontWeightSemiBold: 600;
  --FontWeightBold: 700;
  --FontWeightExtraBold: 800;
  --PrimaryColor: #cc0000;
  --SecondaryColor: #1d1d1d;
  --GreenColor: #a6e90b;
  --WhiteColor: #fff;
}
html {
  font-size: 0.833vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1699px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (max-width: 1199px) {
  html {
    font-size: 14px;
  }
}
body {
  font-family: "Manrope", sans-serif;
  color: var(--SecondaryColor);
  font-size: 1rem;
  font-weight: var(--FontWeightRegular);
}
.container {
  width: 90.8%;
  max-width: 96%;
  margin: 0 auto;
}
img {
  width: 100%;
  display: block;
}
a,
button {
  cursor: pointer;
}
a {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: var(--FontWeightRegular);
  margin-top: 1rem;
}
p:first-of-type {
  margin-top: 0;
}
.common-btn {
  padding: 1rem 1.625rem;
  background-color: var(--WhiteColor);
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightSemiBold);
  font-size: 1rem;
  line-height: 1;
}
.common-btn.full {
  width: 100%;
}
.common-btn.red {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
}
.common-btn.grey {
  background-color: var(--SecondaryColor);
  color: var(--WhiteColor);
}
.common-spacing-py {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.common-spacing-pt {
  padding-top: 3.75rem;
}
.common-spacing-pb {
  padding-bottom: 3.75rem;
}
.font-size-28 {
  font-size: 1.75rem;
}
.font-size-24 {
  font-size: 1.5rem;
}
.font-size-18 {
  font-size: 1.125rem;
}
.font-size-14 {
  font-size: 0.875rem;
}
.fontweightextralight {
  font-weight: 200;
}
.fontweightlight {
  font-weight: 300;
}
.fontweightregular {
  font-weight: 400;
}
.fontweightmedium {
  font-weight: 500;
}
.fontweightsemibold {
  font-weight: 600;
}
.fontweightbold {
  font-weight: 700;
}
.fontweightextrabold {
  font-weight: 800;
}
.red-text {
  color: var(--PrimaryColor);
}
.dark-text {
  color: var(--SecondaryColor);
}
.white-text {
  color: var(--WhiteColor);
}
.heading-sec {
  font-weight: var(--FontWeightBold);
}
.heading-sec .title {
  font-size: 2.5rem;
  line-height: 1.2;
}
.heading-sec .title span {
  font-weight: var(--FontWeightLight);
}
.headingtitle {
  font-size: 3.125rem;
  line-height: 1.1;
  font-weight: var(--FontWeightBold);
}
.circle-btn {
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--PrimaryColor);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.circle-btn img {
  width: 1.1rem !important;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.header {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--WhiteColor);
  width: 100%;
  -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.header:after {
  position: absolute;
  content: "";
  width: 10%;
  height: 100%;
  background-color: var(--PrimaryColor);
  right: 0;
  top: 0;
  z-index: -1;
}
.header .logo img {
  width: 8.55rem;
}
.header .menu-sec {
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
}
.header .menu-sec .menutoogle {
  width: 50px;
  background-color: var(--PrimaryColor);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35px;
  border-radius: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header .menu-sec .menutoogle span {
  width: 25px;
  height: 2px;
  background-color: var(--WhiteColor);
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
.header .menu-sec .menutoogle.close span {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 2px;
}
.header .menu-sec .menutoogle.close span:nth-of-type(3) {
  display: none;
}
.header .menu-sec .menutoogle.close span:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
}
.header .whats-app {
  -ms-flex-item-align: center;
  align-self: center;
}
.header .nav li {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
  font-size: 1rem;
  font-weight: var(--FontWeightSemiBold);
  border-right: solid 0.0625rem hsla(0, 0%, 100%, 0.5);
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .nav li a {
  padding: 1.25rem;
}
.header .nav li:last-of-type {
  border-right: none;
}
.header .nav li:hover,
.header .nav li.active {
  background-color: var(--SecondaryColor);
}
.header .side-enq-btn {
  position: fixed;
  top: 40%;
  background-color: var(--GreenColor);
  padding: 1.125rem 1.625rem;
  line-height: 1;
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightBold);
  z-index: 999;
  right: -4rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.header .side-enq-btn:hover {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
}
.textlinks {
  color: var(--PrimaryColor);
  font-weight: var(--FontWeightBold);
}
.banner-sec {
  height: calc(100vh - 7.2rem);
  overflow: hidden;
  min-height: 31rem;
}
.banner-sec img {
  height: calc(100vh - 7.2rem);
  min-height: 31rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.banner-sec .owl-dots {
  position: absolute;
  bottom: 1.4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
  gap: 0.4rem;
}
.banner-sec .owl-dots .owl-dot {
  width: 1rem;
  height: 1rem;
  background: var(--WhiteColor);
  border-radius: 50%;
}
.banner-sec .owl-dots .owl-dot.active {
  background-color: var(--PrimaryColor);
}
.banner-sec .text-sec {
  position: absolute;
  left: 4.6%;
  bottom: 4rem;
  font-size: 4.375rem;
  line-height: 1.1;
  color: var(--WhiteColor);
  max-width: 38rem;
}
.banner-sec .text-sec .links {
  margin-top: 5rem;
}
.banner-sec.innerbanner {
  max-height: 25rem;
  min-height: 20rem;
}
.banner-sec.innerbanner img {
  max-height: 25rem;
  min-height: 20rem;
}
.banner-sec.innerbanner .text-sec {
  font-size: 3.1rem;
  max-width: 66rem;
  font-weight: var(--FontWeightSemiBold);
}
.marquee-sec {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
  font-weight: var(--FontWeightSemiBold);
  line-height: 1;
}
.marquee-sec span {
  padding: 1rem;
  display: inline-block;
  line-height: 1;
}
.about-sec .left {
  width: 25.7%;
}
.about-sec .right {
  width: 74.3%;
}
.solutions-sec .heading-sec {
  max-width: 47rem;
}
.solutions-sec .solutions-items .item {
  background-color: var(--PrimaryColor);
}
.solutions-sec .solutions-items .item .detail {
  padding: 1.25rem;
}
.solutions-sec .solutions-items .item .detail .title {
  line-height: 1.3;
}
.school-application-sec .outer-sec {
  padding-left: 4.6%;
}
.school-application-sec .outer-sec .left {
  max-width: 26.5rem;
}
.school-application-sec .outer-sec .right {
  width: calc(100% - 29rem);
}
.school-application-sec .outer-sec .right .item {
  position: relative;
  background-color: var(--SecondaryColor);
}
.school-application-sec .outer-sec .right .item .text-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 1.5rem 1rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, rgba(0, 0, 0, 0.0392156863)),
    color-stop(50%, #000)
  );
  background: linear-gradient(rgba(0, 0, 0, 0.0392156863) 10%, #000 50%);
  color: var(--WhiteColor);
}
.school-application-sec .outer-sec .right .item .text-detail .title {
  line-height: 1.2;
}
.school-application-sec .outer-sec.detail-page {
  padding-left: 0;
}
.school-application-sec .outer-sec.detail-page .left {
  width: 100%;
  max-width: 62rem;
}
.school-application-sec .outer-sec.detail-page .right {
  width: 100%;
}
.counter,
.blogscounter {
  position: relative;
  margin-top: 1.5rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.counter .count,
.blogscounter .count {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  opacity: 0.8;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.counter .nav,
.blogscounter .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5.0625rem;
  -moz-column-gap: 5.0625rem;
  column-gap: 5.0625rem;
}
.counter .nav .owl-prev,
.counter .nav .owl-next,
.blogscounter .nav .owl-prev,
.blogscounter .nav .owl-next {
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--PrimaryColor);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.counter .nav .owl-prev:before,
.counter .nav .owl-next:before,
.blogscounter .nav .owl-prev:before,
.blogscounter .nav .owl-next:before {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: url("https://image.connect.canon.co.in/lib/fe3811737164047f711574/m/1/3f580872-4fad-43e7-be7a-20ccedbaaf22.png")
    0 0 no-repeat;
  background-size: 1.2rem;
  left: 0.3rem;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.counter .nav .owl-prev:before,
.blogscounter .nav .owl-prev:before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  left: 0;
  right: 0.3rem;
}
.blog-sec .top-sec {
  max-width: 60.5rem;
}
.blog-sec .item {
  position: relative;
}
.blog-sec .item .text-detail {
  position: absolute;
  background: #000;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(6%, rgba(0, 0, 0, 0.04)),
    to(rgb(0, 0, 0))
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.04) 6%,
    rgb(0, 0, 0) 100%
  );
  bottom: 0;
  left: 0;
  padding: 1.5rem 1.5rem 1rem;
  color: var(--WhiteColor);
  width: 100%;
}
.blog-sec .item .text-detail .title {
  font-size: 1rem;
  font-weight: var(--FontWeightBold);
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  width: calc(100% - 3.3rem);
}
.blog-sec .item .text-detail .circle-btn {
  opacity: 0;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.blog-sec .item:hover .text-detail .title {
  font-size: 1.5rem;
  font-weight: var(--FontWeightMedium);
}
.blog-sec .item:hover .text-detail .circle-btn {
  opacity: 1;
}
.contact-sec {
  border-top: solid 0.125rem #575757;
}
.contact-sec .logo-sec img {
  width: 12rem;
}
.about-page-overview-sec .environment-sec {
  padding: 1rem 0 2rem;
  border-bottom: solid 0.0625rem #575757;
}
.school-application-conatct .image-sec {
  position: relative;
}
.school-application-conatct .image-sec .text-detail {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1.875rem 5rem;
  background: rgba(0, 0, 0, 0.7);
  color: var(--WhiteColor);
}
.school-application-conatct .image-sec .text-detail .title {
  line-height: 1.1;
}
.school-application-conatct .image-sec .text-detail .desc {
  max-width: 60rem;
}
.contact-us-page .enquiry-sec {
  background-color: #f0f0f0;
  padding: 3.125rem 6.25rem;
}
.contact-us-page .form-sec .item {
  width: 49%;
}
.contact-us-page .form-sec .item.w-full {
  width: 100%;
}
.contact-us-page .form-sec .item label {
  width: 100%;
  font-size: 1.125rem;
  font-weight: var(--FontWeightMedium);
  color: var(--SecondaryColor);
  margin-bottom: 0.2rem;
}
.contact-us-page .form-sec .item input,
.contact-us-page .form-sec .item select,
.contact-us-page .form-sec .item textarea {
  width: 100%;
  font-size: 1.125rem;
  border: solid 0.0625rem var(--SecondaryColor);
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightMedium);
  border-radius: 0.4rem;
  padding: 0.4rem;
  outline: none;
}
.contact-us-page .form-sec .item input::-webkit-input-placeholder,
.contact-us-page .form-sec .item select::-webkit-input-placeholder,
.contact-us-page .form-sec .item textarea::-webkit-input-placeholder {
  font-size: 1.125rem;
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightMedium);
}
.contact-us-page .form-sec .item input::-moz-placeholder,
.contact-us-page .form-sec .item select::-moz-placeholder,
.contact-us-page .form-sec .item textarea::-moz-placeholder {
  font-size: 1.125rem;
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightMedium);
}
.contact-us-page .form-sec .item input:-ms-input-placeholder,
.contact-us-page .form-sec .item select:-ms-input-placeholder,
.contact-us-page .form-sec .item textarea:-ms-input-placeholder {
  font-size: 1.125rem;
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightMedium);
}
.contact-us-page .form-sec .item input::-ms-input-placeholder,
.contact-us-page .form-sec .item select::-ms-input-placeholder,
.contact-us-page .form-sec .item textarea::-ms-input-placeholder {
  font-size: 1.125rem;
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightMedium);
}
.contact-us-page .form-sec .item input::placeholder,
.contact-us-page .form-sec .item select::placeholder,
.contact-us-page .form-sec .item textarea::placeholder {
  font-size: 1.125rem;
  color: var(--SecondaryColor);
  font-weight: var(--FontWeightMedium);
}
.contact-us-page .form-sec .item.accepetence {
  border-bottom: none;
  padding-left: 0;
}
.contact-us-page .form-sec .item.accepetence input {
  width: 1.375rem;
  height: 1rem;
  background-color: var(--WhiteColor);
}
.contact-us-page .form-sec .item.accepetence label {
  width: calc(100% - 1.5rem);
  opacity: 1;
}
.contact-us-page .reachus-sec .left {
  width: 38.5%;
}
.contact-us-page .reachus-sec .left img {
  width: 27.5rem;
}
.contact-us-page .reachus-sec .right {
  width: 57.6%;
}
.contact-us-page .reachus-sec .right .item {
  padding: 0.5rem 1rem 1rem;
  border-bottom: solid 0.0625rem var(--SecondaryColor);
}
.contact-us-page .reachus-sec .right .item:last-of-type {
  border-bottom: none;
}
.contact-us-page .reachus-sec .right .item .title {
  width: 22%;
}
.contact-us-page .reachus-sec .right a:hover {
  color: var(--PrimaryColor);
}
.solutions-offer-page.solutions-sec .tabbing-sec {
  border-bottom: solid 0.0625rem var(--PrimaryColor);
  padding-bottom: 0.6rem;
}
.solutions-offer-page.solutions-sec .tabbing-sec .common-btn {
  border: solid 0.0625rem #b1b1b1;
}
.solutions-offer-page.solutions-sec .product-detail {
  margin-top: 2.5rem;
}
.solutions-offer-page.solutions-sec .product-detail .left {
  width: 44.8%;
}
.solutions-offer-page.solutions-sec .product-detail .left .title {
  font-size: 2.4rem;
  font-weight: var(--FontWeightLight);
}
.solutions-offer-page.solutions-sec .product-detail .left p {
  font-size: 1.125rem;
}
.solutions-offer-page.solutions-sec .product-detail .left .pointers {
  font-size: 1.25rem;
}
.solutions-offer-page.solutions-sec .product-detail .left .pointers li {
  padding: 0.4rem 0 0.4rem 1rem;
  position: relative;
}
.solutions-offer-page.solutions-sec .product-detail .left .pointers li:before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 1rem;
  background: url("https://image.connect.canon.co.in/lib/fe3811737164047f711574/m/1/1ea6c17c-451c-483c-8076-ea7207b9feba.png")
    0 0 no-repeat;
  left: 0;
  top: 0.8rem;
}
.solutions-offer-page.solutions-sec .product-detail .right {
  width: 51%;
}
.solutions-offer-page.solutions-sec .product-detail .right .item {
  padding: 2rem;
  border-radius: 0.3125rem;
  background-color: #ccc;
}
.solutions-offer-page.solutions-sec .product-detail .right img {
  border-radius: 0.3125rem;
  max-width: 30rem;
  margin: 0 auto;
}
.solutions-offer-page.features-sec .features-items .item {
  border-radius: 0.3125rem;
  background-color: var(--WhiteColor);
  border: solid 0.0625rem #d5d5d5;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.solutions-offer-page.features-sec .features-items .item .desc {
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.3rem;
}
.solutions-offer-page.workflow-sec .steps-sec .item {
  padding: 1.875rem 1.25rem 0;
  border-top: solid 0.1875rem rgba(0, 0, 0, 0);
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  cursor: pointer;
}
.solutions-offer-page.workflow-sec .steps-sec .item .title {
  margin-bottom: 0.5rem;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.solutions-offer-page.workflow-sec .steps-sec .item:hover,
.solutions-offer-page.workflow-sec .steps-sec .item.active {
  border-color: var(--PrimaryColor);
}
.solutions-offer-page.workflow-sec .steps-sec .item:hover .title,
.solutions-offer-page.workflow-sec .steps-sec .item.active .title {
  color: var(--PrimaryColor);
}
.solutions-offer-page.configuration-sec {
  background-color: #f0f0f0;
}
.solutions-offer-page.configuration-sec .item {
  border-radius: 0.3125rem;
  background-color: var(--WhiteColor);
  padding: 1.25rem;
}
.solutions-offer-page.configuration-sec .item img {
  width: 2.875rem;
}
.solutions-offer-page.potential-sec .left {
  width: 50%;
}
.solutions-offer-page.potential-sec .right {
  width: 50%;
  background-color: var(--PrimaryColor);
  padding: 2.5rem;
  color: var(--WhiteColor);
}
.thankyou-page .image {
  width: 33rem;
  max-width: 80%;
}
.footer .top-sec .item {
  background-color: var(--PrimaryColor);
  padding: 1.875rem 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.3rem;
  color: var(--WhiteColor);
}
.footer .top-sec .item.text-sec {
  font-size: 2.5rem;
  padding-left: 13.8%;
  line-height: 1.2;
  font-weight: var(--FontWeightExtraLight-200);
}
.footer .top-sec .item.demo-sec {
  background-color: var(--SecondaryColor);
}
.footer .top-sec .item.expert-sec {
  background-color: var(--GreenColor);
  padding-right: 13.8%;
  color: var(--SecondaryColor);
}
.footer .top-sec .item .title {
  line-height: 1.2;
}
.footer .bottom-sec {
  padding: 0.625rem 0;
  font-size: 0.75rem;
  text-align: right;
}
.footer .bottom-sec a:hover {
  color: var(--PrimaryColor);
}

